.container {
    margin-left: 5px;
}


nav {
    color: #ffffff;
    background-color: #222222;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav header {
    margin-left: 5px;
    font-weight: bold;
    font-size: 18px;
}

nav header, nav a {
    display: inline-block;
}

nav > a {
    font-size: 0.8em;
    margin-right: 5px;
    margin-left: 5px;
}

nav a:hover {
    color: #33C3F0;
}

#create-button {
    display: none;
}

pre > code {
    white-space: nowrap;
}

#form-row-2, #form-row-3 {
    display: none;
}