{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/jquery.validate.min.js"></script>
{% endblock %}

{% block content %}
<div class="container" id="page-container">
    <div class="row">
        <div class="twelve columns">
            <div class="row" id="form-container"></div>

            <input class="button" type="button" value="Back" id="prev-button">
            <input class="button-primary" type="button" value="Next" id="next-button">
            <input class="button-primary" type="button" value="Create" id="create-button">
        </div>
    </div>
</div>

{% raw %}
<script id="page1" type="text/x-handlebars-template">
<form>
    <div class="twelve columns">
        <h3>Create project</h3>
        <div class="row">
            <div class="six columns">
                <label>Enter project name</label>
                <input class="u-full-width" type="text" placeholder="Application" name="name" value="{{ this.name }}" required>
            </div>
        </div>
    </div>
</form>
</script>

<script id="page2" type="text/x-handlebars-template">
<form>
    <div class="twelve columns">
        <h3>Configure database</h3>

        <div class="row">

            <div class="three columns">
                <label>Database backend</label>
                <select class="u-full-width" name="dbbackend">
                    <option value="nodb">Without database</option>
                    <option value="mysql">MySQL</option>
                    <option value="sqlite">SQLite</option>
                    <option value="postgresql">PostgreSQL</option>
                </select>
                <script>setDropdown("select[name=dbbackend]", "{{ this.dbbackend }}");<{{!}}/script>
            </div>

        </div>

        <div class="row" id="form-row-2">

            <div class="three columns">
                <label>Database name</label>
                <input class="u-full-width" type="text" name="dbname" placeholder="appdb" required value="{{ this.dbname }}" required>
            </div>

            <div class="three columns">
                <label>Connection host</label>
                <input class="u-full-width" type="text" name="host" placeholder="localhost" required value="{{ this.host }}" required>
            </div>

            <div class="three columns">
                <label>Connection port</label>
                <input class="u-full-width" type="number" name="port" placeholder="Your port" value="{{ this.port }}" required>
            </div>

        </div>

        <div class="row" id="form-row-3">

            <div class="three columns">
                <label>Username</label>
                <input class="u-full-width" name="username" type="text"  placeholder="Your username" value="{{ this.username }}" required>
            </div>
            <div class="three columns">
                <label>Password</label>
                <input class="u-full-width" name="password" type="password" placeholder="Your password" value="{{ this.password }}" required>
            </div>

        </div>
    </div>
</form>
</script>

<script id="page3" type="text/x-handlebars-template">
<form>
    <div class="twelve columns">
        <h3>Choose your favourite css-framework</h3>
        <div class="row">

            <div class="three columns">
                <label>CSS framework</label>
                <select class="u-full-width" name="cssframework">
                    <option value="bootstrap">Twitter Bootstrap</option>
                    <option value="foundation">Zurb Foundation</option>
                    <option value="kube">Kube</option>
                    <option value="uikit">UIKit</option>
                    <option value="semantic">Semantic UI</option>
                </select>
                <script>setDropdown("select[name=cssframework]", "{{ this.cssframework }}");<{{!}}/script>
            </div>

        </div>

    </div>
</form>
</script>

<script id="page4" type="text/x-handlebars-template">
<form>
    <div class="twelve columns">
        <h3>Almost done!</h3>
        <div class="row">
            <p>Check all entered data and click <em>Create</em>. If you want to correct some entered data feel free to go <em>Back</em></p>
            <div class="six columns">

                <p><strong>Project name:</strong> {{ this.name }} </p>
                {{#if this.with_db }}
                <p><strong>Database name:</strong> {{ this.dbname}} </p>
                <p><strong>Database backend:</strong> {{ this.dbbackend }} </p>
                <p><strong>Database username:</strong> {{ this.username }}</p>
                <p><strong>Database password:</strong> {{ this.password }}</p>
                <p><strong>Database host:</strong> {{ this.host }}</p>
                <p><strong>Database port:</strong> {{ this.port }}</p>
                {{/if }}
                <p><strong>CSS-framework:</strong> {{ this.cssframework }}</p>


            </div>

        </div>

    </div>
</form>
</script>
{% endraw %}

{% endblock %}

{% block bottom_scripts %}
<script>

</script>

<script>
    $(document).ready(function() {
        //Enable resuming from the last page
        if(!localStorage.currentPageNum) {
            cleanData(); //Remove accidental previous data
            localStorage.currentPageNum = 1;
        }
        loadPage(localStorage.currentPageNum);
    });

    $(document).on("change", "select[name=dbbackend]", function() {
        var form = $("#form-container").find("form");
        $.each(form, function(key, value) {
            console.log(value);
        });

        var selectedBackend = $(this).val();
        if(selectedBackend == "nodb") {
            $("#form-row-2").css("display", "none");
            $("#form-row-3").css("display", "none");
            localStorage.removeItem("with_db");
        } else {
            $("#form-row-2").css("display", "block");
            $("#form-row-3").css("display", "block");
            localStorage.setItem("with_db", 1);
        }

        var portInput = $("input[name=port]");
        var hostInput = $("input[name=host]");
        if(selectedBackend == "sqlite") {
            hideAdvanced();

        } else if(selectedBackend == "postgresql") {
            showAdvanced();
            if(!presentInLS("port")) {
                portInput.val(5432);
            }
            if(!presentInLS("host")) {
                hostInput.val("127.0.0.1");
            }
        } else if (selectedBackend == "mysql") {
            showAdvanced();
            if(!presentInLS("port")) {
                portInput.val(3306);
            }
            if(!presentInLS("host")) {
                hostInput.val("127.0.0.1");
            }
        }
    });

    function presentInLS(key) {
        var value = localStorage.getItem(key);
        return (value != undefined) && (value != "") && (value != null);
    }

    function hideAdvanced() {
        $("input[name=host]").parent().hide();
        $("input[name=port]").parent().hide();
        $("input[name=username]").parent().hide();
        $("input[name=password]").parent().hide();
    }

    function showAdvanced() {
        $("input[name=host]").parent().show();
        $("input[name=port]").parent().show();
        $("input[name=username]").parent().show();
        $("input[name=password]").parent().show();
    }

    function loadPage(pageNum) {
        //Check if exist
        var getPage = $("#page"+pageNum);
        if(!getPage.length) return;

        var nextPageNum = Number(pageNum) + 1;
        var hasNext = $("#page"+nextPageNum);
        if(!hasNext.length) {
            //This is the last page. Show 'Create button'
            $("#create-button").css("display", "inline-block");
            $("#next-button").css("display", "none");
        } else {
            //Every other page. Ensure that 'Next' button is showed instead of 'Create'
            $("#create-button").css("display", "none");
            $("#next-button").css("display", "inline-block");
        }

        if(pageNum == 1) {
            $("#prev-button").css("display", "none");
        } else {
            $("#prev-button").css("display", "inline-block");
        }

        var source = $("#page"+pageNum).html();
        var data = getDataFromLS();
        var template = Handlebars.compile(source);
        var resHtml = template(data);
        $("#form-container").html(resHtml);
        localStorage.currentPageNum = pageNum;
    }

    function saveDataToLS() {
        var formContainer = $("#form-container");
        var form = formContainer.find("form");
        $.each(form.serializeArray(), function(index, data) {
            //console.log(data.name + "->" + data.value);
            localStorage.setItem(data.name, data.value);
        });
    }

    function validateForm() {
        var formContainer = $("#form-container");
        var form = formContainer.find("form");
        form.validate({
            errorPlacement: function(error, element) {}
        });
        return form.valid();
    }

    $("#prev-button").click(function() {
        var prevPageNum = Number(localStorage.currentPageNum) - 1;
        if(prevPageNum < 1) {
            return;
        }
        saveDataToLS();
        loadPage(prevPageNum);
    });

    $("#next-button").click(function() {
        if(!validateForm()) return;
        saveDataToLS();
        var nextPageNum = Number(localStorage.currentPageNum) + 1;
        loadPage(nextPageNum);

    });

    function getDataFromLS() {
        var data = {};
        for (var i = 0; i < localStorage.length; i++) {
            var key = localStorage.key(i);
            data[key] = localStorage.getItem(key);
        }
        return data;
    }

    function cleanData() {
        localStorage.clear();
    }


    function setDropdown(selector, value) {
        if(value) {
            $(selector).val(value);
            $(selector).change(); //fire change
        }
    }

    $("#create-button").click(function () {
        var data = getDataFromLS();
        $.post("/create", data, function(data) {
            sweetAlert({
                title: "Good job",
                text: "Project was created",
                type:"success"
            },
            function() {
                cleanData();
                location = '/done';
            });
        }).error(function() {
            sweetAlert("Something wrong", "Check your input and try again", "error");
        });
    });
</script>
{% endblock %}

