{% extends "base.html" %}

{% block content %}
<div class="container" id="page-container">
    <h2>You've just created new project. Congratulations!</h2>
    <div class="row">

        <div class="six columns">
            <p>Now go back to your console window and type:
            <pre><code>python run.py</code></pre>
            Then you can check your project running on <a href="http://localhost:{{ run_port }}" target="_blank">localhost:{{ run_port }}</a>.
            Just click on this url or type it manually in your browsers' address
            bar.
            </p>
        </div>

        <div class="six columns">
            <p>If you found some bug or want to suggest an improvement feel free
                to <a href="mailto:bmwant@gmail.com">contact me</a>.

            </p>
            <p>Want to contribute? <a href="https://github.com/bmwant21/bmg" target="_blank">Link to Github</a>.</p>
        </div>
    </div>
</div>
{% endblock %}