<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/main.style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../static/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
      
      <div class="row">
          <div class="twelve columns">
            <form>
              <div class="row">
                <div class="three columns">
                  <label for="exampleEmailInput">Database name</label>
                  <input class="u-full-width" type="text" placeholder="appdb" required>
                </div>
                  <div class="three columns">
                  <label for="exampleRecipientInput">Connection host</label>
                   <input class="u-full-width" type="text" placeholder="127.0.0.1" id="exampleEmailInput" required>                     


                </div>
                  <div class="three columns">
                  <label for="exampleEmailInput">Connection port</label>
                  <input class="u-full-width" type="number" placeholder="3306" id="exampleEmailInput">
                </div>
                  <div class="three columns">
                  <label for="exampleRecipientInput">Database backend</label>
                  <select class="u-full-width" id="exampleRecipientInput">
                    <option value="Option 1">MySQL</option>
                    <option value="Option 2">SQLite</option>
                    <option value="Option 3">PostgreSQL</option>
                  </select>
                </div>
              </div>
                <div class="row">
                    <div class="three columns">
                      <label for="exampleEmailInput">Username</label>
                      <input class="u-full-width" type="text" placeholder="Your username" id="exampleEmailInput">
                    </div>
                    <div class="three columns">
                      <label for="exampleEmailInput">Password</label>
                      <input class="u-full-width" type="password" placeholder="Your password" id="exampleEmailInput">
                    </div>
                </div>
              <input class="button-primary" type="submit" value="Next">
            </form>
          </div>
      </div>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
