{% extends "base.html" %}

{% block content %}
<div class="container" id="page-container">
    <h2>Generate boilerblate code.</h2>
    <div class="row">

        <div class="six columns">
            <form>
                <div class="row">
                    <div class="six-columns">
                        <label>Select models file</label>
                        <select class="u-full-width">
                            <option value="models.py">models.py</option>
                        </select>
                    </div>
                </div>
            </form>
            <a class="button" href="#" onclick="return false;" id="check-button">Check models</a>
        </div>

        <div class="six columns" id="second-row">
        </div>
    </div>
</div>

{% raw %}
<script id="select-class-view" type="text/x-handlebars-template">
<form>
    <div class="row">
        <div class="six-columns">
            <label>Select model class</label>
            <select class="u-full-width" name="model-class">
                {{#each this }}
                <option value="{{ this }}">{{ this }}</option>
                {{/each }}
            </select>

            <label class="example-send-yourself-copy">
                <input type="checkbox" checked name="forms-check">
                <span class="label-body">Forms</span>
            </label>

            <label class="example-send-yourself-copy">
                <input type="checkbox" checked name="templates-check">
                <span class="label-body">Templates</span>
            </label>

            <label class="example-send-yourself-copy">
                <input type="checkbox" checked name="views-check">
                <span class="label-body">Views</span>
            </label>

        </div>
    </div>
</form>
<a class="button button-primary" href="#" onclick="return false;" id="generate-button">Generate</a>
</script>
{% endraw %}
{% endblock %}


{% block bottom_scripts %}
    {{ super() }}
    <script>
        $("#check-button").click(function () {
            var data = {};
            $.getJSON("/check_models", data, function(data) {
                var source = $("#select-class-view").html();
                var template = Handlebars.compile(source);
                var resHtml = template(data);
                $("#second-row").html(resHtml);
            });
        });

        $(document).on("click", "#generate-button", function () {
            var form = $("#second-row").find("form");
            var data = form.serialize();
            $.post("/generate", data, function(data) {
                console.log(data);
            });
        });
    </script>
{% endblock %}

