{% extends "base.html" %}

{% block content %}
<div class="container" id="page-container">
    <h2>Project for generating</h2>
    <div class="row">

        <div class="six columns">

            {% if projects %}
                <form method="post" action="/gen_select">
                    <label>Select project</label>
                    <select class="u-full-width" name="project">
                        {% for p in projects %}
                            <option value="{{ p }}">{{ p }}</option>
                        {% endfor %}
                    </select>
                </form>
                <a class="button submit-button" href="#" onclick="return false;">Take it</a>
            {% else %}
                <p class="caution">You have no previously created projects by BMG
                    or all your projects don't have database connection. Go back
                    and create some (don't forget to establish db connection).</p>
            {% endif %}

        </div>

        <div class="six columns" id="second-row">

        </div>

    </div>
</div>


{% endblock %}


{% block bottom_scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $(".submit-button").click(function() {
                var form = $(this).parent().find("form");
                form.submit();
            });
        });
    </script>
{% endblock %}

