{% extends "base.html" %}

{% block content %}
<div class="container" id="page-container">
    <h2>Welcome to the <strong>BMG</strong>!</h2>
    <div class="row">
        <div class="six columns">
            <p><strong>BMG</strong> - is a code generator for your <a href="https://www.python.org" target="_blank">Python</a> web-projects. It uses
                <a href="http://bottlepy.org/" target="_blank">Bottle framework</a>,
                <a href="https://peewee.readthedocs.org/en/latest/" target="_blank">Peewee object-relations mapper</a>,
                <a href="http://jinja.pocoo.org" target="_blank">Jinja2 templating</a>,
                <a href="https://wtforms.readthedocs.org/en/latest/" target="_blank">WTForms</a>
            for your forms validation and CSS-framework of your choice
            as a foundation to create basic project structure (directories tree
            and blueprint code files) and to generate boilerplate code for CRUD
            operations with your models.
            </p>

            <p>If you don't have project yet you can create your own in a few
            steps with <em>Create</em> button. Also you can generate forms,
            views and controllers for your existing models-file or even
            generate it based on your database tables with <em>Generate</em>
            button. Let's go.
            </p>

            <a class="button" href="/creator">Create</a>
            <a class="button" href="/generator">Generate</a>
        </div>
    </div>
</div>
{% endblock %}


